
#root {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  margin: 0 auto;         
  max-width: 800px;       
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
}


#root > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


h1, p {
  text-align: center;
}


form, ul {
  align-items: center;
  width: 100%;
  max-width: 500px; 
  display: flex;
  flex-direction: column;
  padding: 0;
  button {
    margin-top: 1rem;
    max-width: 100px;
    align-items: center;
  }
}


ul {
  list-style: none;
}